#main {
  padding-top: var(--size-8);
  display: flex;
  justify-content: center;
}

#content {
  width: var(--size-md);
}

#header-title {
  border-bottom: var(--border-size-1) solid var(--gray-3);
  padding-bottom: var(--size-1);
}

#add-task-btn {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  padding: var(--size-3);
}

#add-task-btn>p {
  font-size: var(--font-size-1);
  color: var(--gray-7);
}

#add-task-btn>span>svg {
  width: var(--size-5);
  fill: var(--gray-7);
}

#add-task-btn:hover,
.task:hover {
  background-color: var(--gray-1);
}

#add-task-btn * {
  pointer-events: none;
  user-select: none;
}
