.task {
  padding: var(--size-3);
  border-bottom: var(--border-size-1) solid var(--gray-3);
  display: grid;
  grid-template-columns: auto 5fr 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}

.task-checkbox {
  border-radius: var(--radius-5);
  width: var(--size-3);
  height: var(--size-3);
  margin-right: var(--size-3);
  grid-area: 1 / 1;
}

.task-title {
  grid-column: 2;
  grid-row: 1;
  font-size: var(--font-size-2);
  color: var(--gray-7);
}

.task-description {
  grid-area: 2 / 2;
  font-size: var(--font-size-1);
  color: var(--gray-6);
}

.task-duedate,
.task-priority {
  border-radius: var(--radius-3);
  justify-self: center;
  padding: var(--border-size-1) var(--border-size-4);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-5);
}

.task-duedate {
  grid-column: 3;
  grid-row: 1 / 3;
  background-color: var(--gray-3);
  color: var(--gray-7);
}

.task-priority {
  grid-column: 4;
  grid-row: 1 / 3;
}

.task-priority.high {
  background-color: var(--red-1);
  color: var(--red-7);
}

.task-priority.medium {
  background-color: var(--yellow-1);
  color: var(--yellow-8);
}

.task-priority.low {
  background-color: var(--green-1);
  color: var(--green-7);
}

.task.completed .task-title,
.task.completed .task-description,
.task.completed .task-priority,
.task.completed .task-duedate {
  text-decoration: line-through;
  color: var(--gray-5);
}

.task.completed .task-priority,
.task.completed .task-duedate {
  background-color: var(--gray-3);
}
